:root {
  --darker: #151320;
  --smoke_grey: #22212c;
  --accenture: #454158;
  --nightblue: #2b2640;
  --neongreen: #8aff80;
}

body {
  /* background-color: lightskyblue; */
  /* background-color: #16161d; */
  background-color: var(--darker);
  color: aliceblue;
  margin: 0;
}

main {
  max-width: 1024px;
  margin: 1em auto;
}

main > p > span {
  color: var(--neongreen);
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

ul > li {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0.5em;
  justify-content: space-between;
  /* background-color: var(--nightblue); */
  background-color: var(--smoke_grey);
}

ul > li > img {
  margin-bottom: 2em;
  max-height: 15vh;
  max-width: 25vw;
}

ul > li > a {
  margin: 0 auto 0.5em;
  color: var(--neongreen);
}
