<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#22212c" />
    <style></style>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="shortcut icon"
      href="/images/icons/favicon.png"
      type="image/png"
    />
    <link rel="apple-touch-icon" href="/images/icons/Icon-192.png" />
    <link rel="manifest" href="/manifest.json" />
    <title>MyGiphy | A Progressive Web App</title>
  </head>
  <body>
    <header>
      <a href="/">
        <h1>GifTrends</h1>
        <p>Latest Trending GIFs</p>
      </a>
    </header>
  </body>
</html>
