<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      name="theme-color"
      content="#22212c"
    />
    <script
      type="text/javascript"
      src="https://platform-api.sharethis.com/js/sharethis.js#property=65c408291eabb90019a54716&product=inline-share-buttons&source=platform"
      async="async"
    ></script>
    <!-- CRITICAL CSS HERE -->
    <style type="text/css">
      :root {
        --darker: #151320;
        --smoke_grey: #22212c;
        --accenture: #454158;
        --nightblue: #2b2640;
        --neongreen: #8aff80;
        --white: #ffffff;
        --purple-header: #2c2953;
        --purple-body: #1b1933;
      }

      body {
        background-color: var(--purple-body);
        color: aliceblue;
        margin: 0;
      }

      main {
        max-width: 1024px;
        margin: 2em auto;
      }

      .fixed-ratio {
        display: block;
        position: relative;
        height: 8em;
        overflow: hidden;
      }

      .fixed-ratio-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: inherit;
        object-fit: cover;
        border-radius: 0.3125em;
      }

      #gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      #gallery > article {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 0.5em;
        justify-content: space-between;
        background-color: var(--purple-body);
      }

      /* #gallery > article:hover,
      #gallery > article:hover > a {
        color: var(--neongreen);
        text-decoration: none;
      } */

      #gallery > article:hover,
      #gallery > article:hover > a {
        color: var(--neongreen);
        text-decoration: none;
        background-color: #57556f38;
      }

      #gallery > article > a > p {
        font: bold 0.8125em Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top: 1.5em;
      }

      #gallery > article > img {
        margin-bottom: 2em;
      }

      #gallery > article > a {
        /* margin: 1.5em auto 0.5em; */
        color: var(--white);
        text-decoration: none;
        /* font: bold 0.8125em Arial, Helvetica, sans-serif; */
      }

      header {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--purple-header);
        text-align: center;
        position: sticky;
        top: 0;
        z-index: 1;
      }

      header > a {
        text-decoration: none;
      }

      header > a > h1 {
        margin-bottom: 0;
        font-family: "Roboto", sans-serif;
        color: var(--white);
      }

      header > a > p {
        margin-top: 0;
        color: var(--white);
      }
    </style>
    <link
      rel="preload"
      href="/css/index.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <!-- NO JS SUPPORT -->
    <noscript
      ><link
        rel="stylesheet"
        href="/css/index.css"
    /></noscript>
    <link
      rel="shortcut icon"
      href="/images/icons/favicon.png"
      type="image/png"
    />
    <link
      rel="apple-touch-icon"
      href="/images/icons/Icon-192.png"
    />
    <link
      rel="manifest"
      href="/manifest.json"
    />
    <title>MyGiphy | A Progressive Web App</title>
  </head>
  <body>
    <header>
      <a href="/">
        <h1>GifTrends</h1>
        <p>Latest Trending GIFs</p>
      </a>
    </header>
  </body>
</html>
