body {
  /* background-color: lightskyblue; */
  background-color: #16161d;
  color: aliceblue;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header > h1 {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}
