body {
  /* background-color: lightskyblue; */
  background-color: #16161d;
  color: aliceblue;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header > h1 {
  margin-bottom: 0;
}

main {
  max-width: 1024px;
  margin: 1em auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

ul > li {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0.5em;
  justify-content: space-between;
}
